python-dotenv
langchain
text_generation
ibm-generative-ai[langchain]
openai
# pypdf
# unstructured
# unstructured[pdf]
# nltk
# older version required by watsonx library
#urllib3==1.26.16
#ibm-watson-machine-learning